.navigation{
 background-color: var(--navigation-color);
 top: 10em;
 position: fixed;
 display: inline-block;
 padding: 0.5em;
 border-radius: 20px;
 left: 5%;
}

.navigationList{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.navText{
    cursor: pointer;
    color: var(--white-color);
    transition: color 0.3s ease-in-out;
}
.navText:hover{
    color: rgb(137, 255, 3);
}